.select {
    width: 90%;
}

.select-wrapper {
    width: 90%;
    margin: 15px;
    padding: 10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center;
 }

 .left,  .right {
     float: left;
     padding: 20px;
     width: 40%;
 }

 .right select {
     width: 100%
 }

 .select-project {
     padding: 10px;
     font-family: "Verdana"
 }

 .section-day-overview {
     margin-top: 10px;
     font-family: "Verdana"
 }

 input {
     padding: 3px 10px;
 }

 h5 {
     margin: 5px;
 }

 .day-item {
     padding: 3px;
     border: silver 1px solid;
     font-size: 0.8em;
 }



 /*form users*/
 .form-part {
     margin: 7px;
 }