.select {
    width: 90%;
}

.select-wrapper {
    width: 90%;
    margin: 15px;
    padding: 10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center;
 }